body {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  background-color: #eee;
}
.container {
  text-align: center;
}
.align-and-margin {
  text-align: center;
  margin: 100px;
}

.heading-1, .image-1{
  color: #009999;
  animation: fromLeft 1.5s ease-in;
}

.heading-2, .image-2 {
  color: #00cc66;
  animation: fromRight 1.5s ease-in;
}

.heading-3, .image-3 {
  color: #ff9966;
  animation: fromBottom 1.5s ease-in;
}

.heading-4, .image-4 {
  color: #9999ff;
  transition: transform .5s ease-in;
  cursor: pointer;
}

.heading-4:hover, .image-4:hover {
  transform: translateY(-50px) scale(1.03);
}

@keyframes fromLeft {
  0% {
    opacity: 0;
    transform: translate(-300px);
  }
  80% {
    opacity: .7;
    transform: translate(20px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fromRight {
  0% {
    opacity: 0;
    transform: translate(300px);
  }
  80% {
    opacity: .7;
    transform: translate(-20px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fromBottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
